<div class="large-12 large-centered columns">
  <%= form_for(@team_member, remote: true) do |f| %>
    <div class="row collapse">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="row collapse">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="row collapse">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="row collapse">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
    <div class="row collapse">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="row collapse">
      <div class="large-12 large-centered columns">
        <%= f.submit '保存', {class: 'button small radius'} %>
      </div>
    </div>
  <% end %>
</div>
