<table class="table">
  <thead>
  <tr>
    <th>姓名</th>
    <th>E-mail</th>
    <th>电话</th>
    <th>职位</th>
    <th>级别</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% team_members.each do |team_member| %>
    <tr>
      <td><%= team_member.full_name %></td>
      <td><%= team_member.email %></td>
      <td><%= team_member.phone_number %></td>
      <td><%= team_member.title %></td>
      <td><%= team_member.user.get_role_name if team_member.user.present? %></td>
      <td>
        <%= link_to '更新', edit_team_member_path(team_member.id), data: {remote: true} %> |
        <% unless team_member.email == current_user.email %>
          <%= link_to '删除', team_member_path(team_member.id), data: {confirm: "确定删除#{team_member.full_name}吗?"}, method: :delete %>
          |
        <% end %>
        <%= link_to '授权' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate team_members %>