<div class="login-container">

  <div class="center">
    <h1>
      <i class="ace-icon fa fa-leaf green"></i>
      <span class="red">Seagull</span>
      <span class="white" id="id-text2">Platform</span>
    </h1>
    <h4 class="blue" id="id-company-text">&copy; 赵泽涵</h4>
  </div>

  <div class="space-6"></div>

  <div class="position-relative">
    <div id="login-box" class="login-box visible widget-box no-border">
      <div class="widget-body">
        <div class="widget-main">
          <h4 class="header blue lighter bigger">
            <i class="ace-icon fa fa-coffee green"></i>
            用户登录
          </h4>
          <%= render partial: 'shared/flash_message' %>
          <div class="space-6"></div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <fieldset>
                <label class="block clearfix">
              <span class="block input-icon input-icon-left">
                <%= f.text_field :login, {autofocus: true, class: 'form-control', placeholder: '您的企业 Email 帐号', required: true} %>
                <span class="input-group-addon">@<%= CFG['allowed_domain'] %></span>
                <i class="ace-icon fa fa-user"></i>
              </span>
                </label>
                <label class="block clearfix">
              <span class="block input-icon input-icon-left">
                <%= f.password_field :password, {autocomplete: false, class: 'form-control', placeholder: '请输入您的密码', required: true} %>
                <i class="ace-icon fa fa-lock"></i>
              </span>
                </label>
                <%= f.submit '登录', class: 'width-35 btn btn-sm btn-primary' %>
              </fieldset>

          <% end %>
          <div class="space-6"></div>
        </div>
        <!-- /.widget-main -->

        <div class="toolbar clearfix">
          <div>
            <a href="#" class="forgot-password-link">
              <i class="ace-icon fa fa-arrow-left"></i>
              忘记密码
            </a>
          </div>

          <div>
            <a href="<%= new_user_registration_path %>" class="user-signup-link">
              新用户注册
              <i class="ace-icon fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /.widget-body -->
    </div>
    <!-- /.login-box -->
  </div>
  <!-- /.position-relative -->
</div>
